.main {
    display: table;
    margin: auto;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px;
}

.display-text {
    border: 2px solid #222;
}

.btns {
    height: 100px;
}

.line-one {
    display: flex;
    justify-content: start;
}

.lene-one:nth-child(3) {
    position: absolute;
}

.line-one:last-child {
    position: relative;
    top: -25px;
}

.line-one p {
    margin: 0 5px 0 0;
    height: 100%;
}

.btn-mark-plus {
    height: 47px;
    margin-left: 3px;
    margin-top: 2px;
}

.btn-equal {
    width: 50px;
    margin-left: 2px;
}